div.themp {{date | date:'HH:mm'}}
div.themp(ng-class="{thempoff: state.h1 == 'off', thempon: state.h1 == 'on'}") {{state.t1}} °C
.flex-container
    .themp-minor(ng-click="doorOpen.play();", ng-class="{thempoff: guard.door == 0, thempon: guard.door == 1}") О/Д
    .themp-minor {{state.t5}}°C
    .themp-minor {{state.t4}}°C
    .themp-minor(ng-class="{thempoff: state.h3 == 'off', thempon: state.h3 == 'on'}") {{state.t3}}°C
    .themp-minor {{state.t2}}°C
//button( id="audio1", ng-audio='images/dooropen.mp3')  Play
    //h3.themp {{state.t2}}
//p {{date | date:'dd.MM.yy HH:mm:ss'}}
//p Счётчик: {{state.ticks[0].kWh}} кВт-ч {{state.ticks[1].kWh}} кВт-ч
//p Мощность: {{state.P}}
//p Гостиная: {{state.t1}}
//p 2 этаж: {{state.t5}}
//p Кухня: {{state.t4}}
//p Подвал: {{state.t3}}
//p На улице: {{state.t2}}


