doctype html
html
  head
    meta(charset='utf-8')
    meta( name="viewport", content="width=device-width")
    link( rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='/styles/app.css')
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body.main-panel(ng-app="skApp")

      //.header
        nav.nav-pills.pull-right
          li.active
            a( ng-href="#") Home
          li
            a(ng-href="#/about") About
          li
            a(ng-href="#") Contact
    div( ng-view="")

    script( src="/jquery/dist/jquery.js")
    script( src="/angular/angular.js")
    script( src="/bootstrap/dist/js/bootstrap.js")
    script( src="/angular-cookies/angular-cookies.js")
    script( src="/angular-resource/angular-resource.js")
    script( src="/angular-route/angular-route.js")
    script( src="/angular-sanitize/angular-sanitize.js")
    script( src="/socket.io/socket.io.js")
    script( src="/angular-audio/app/angular.audio.js")

    script( src="scripts/app.js")
    script( src="scripts/controllers/main.js")
    script( src="scripts/controllers/about.js")

