doctype html(lang='en')
head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   title My Angular 2 App
   base(href='/')
   // ignore: Aplha 32 router fix
   script.
      baseElement = document.querySelector('base');baseElement.attr = baseElement.getAttribute;
   meta(name='description', content='')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   // inject:css
   link(rel='stylesheet', href='/app.css?v=0.0.0')
   // endinject
body
   app Loading...
   // inject:js
   script(src='/lib/traceur-runtime.js?v=0.0.0')
   script(src='/lib/es6-module-loader-sans-promises.js?v=0.0.0')
   script(src='/lib/Reflect.js?v=0.0.0')
   script(src='/lib/system.src.js?v=0.0.0')
   script(src='/lib/zone.js?v=0.0.0')
   script(src='/lib/angular2.js?v=0.0.0')
   script(src='/lib/router.js?v=0.0.0')
   // endinject
   script(src='/init.js?v=0.0.0')


