.main-panel
  background-color:#000000
  color: #5cb85c

.themp
  font-size: 150px
  @media screen and (min-width: 1024px)
      font-size: 250px
  font-weight: bold
  line-height: .8em

.themp-minor
  font-size: 35px
  @media screen and (min-width: 1024px)
      font-size: 70px
  font-weight: bold
  flex-grow: 1


.thempoff
  color: limegreen

.thempon
  color: orange

.flex-container
  display: flex

