.main-panel {
  background-color: #000;
  color: #5cb85c;
}
.themp {
  font-size: 150px;
  font-weight: bold;
  line-height: 0.8em;
}
@media screen and (min-width: 1024px) {
  .themp {
    font-size: 250px;
  }
}
.themp-minor {
  font-size: 35px;
  font-weight: bold;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .themp-minor {
    font-size: 70px;
  }
}
.thempoff {
  color: #32cd32;
}
.thempon {
  color: #ffa500;
}
.flex-container {
  display: flex;
}
